<ion-header>
  <ion-toolbar>
    <ion-title>Recursos del alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group #accordionGroup>
    <ion-accordion value="first">
      <ion-item *ngFor="let pokemon of pokemon" slot="header" color="light">
        <ion-label>{{pokemon.name}}</ion-label>
        <ion-avatar slot="start">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
        </ion-avatar>
      </ion-item>
      <div class="ion-padding" slot="content">
        First Content
      </div>
    </ion-accordion>
  </ion-accordion-group>
  </ion-list>
</ion-content>
