<ion-header>
  <ion-toolbar>
    <ion-title id="titulo">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usuario">
    <div id="loginBox">
      <ion-card class="ion-text-center">
        <br><br>
        <ion-item>
          <div>
            <ion-label>
              Usuario
            </ion-label>
            <div>
              <ion-input type="text" formControlName="user" placeholder="usuario@duocuc.cl"></ion-input>
            </div>
          </div>

        </ion-item>
        <ion-item>
          <div>
            <!--  -->
            <ion-label>
              Contraseña
            </ion-label>
            <div>
              <ion-input type="password" formControlName="pass" placeholder="*******"></ion-input>
            </div>
          </div>
        </ion-item>
        <div>
          <ion-button expand="block" type="submit" [disabled]="!usuario.valid" (click)="goToPagina2()"
            routerDirection="forward">Ingresar</ion-button>
        </div>


        <br><br>
        <div>
          <ion-nav-link (click)="goToNoPass()" routerDirection="forward">
            Olvide mi contraseña
          </ion-nav-link>
        </div>
        <br><br>
      </ion-card>
    </div>
  </form>


</ion-content>

<ion-footer class="ion-text-center" collapse="fade">
  <ion-toolbar>
    <ion-title size="small">
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label> @DuocUC</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-footer>