ion-card {
    padding: 64px;
}

ion-item {
    padding: 8px;
}

ion-button {
    margin: 16px;
}

ion-button {
    --border-radius: 15px;
}

ion-nav-link {
    text-decoration: underline;
    color: blue;
}

#login-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}