<ion-header>
  <ion-toolbar>
    <ion-title>qrcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content id="perfil">
      <ion-card-title>Sistema de registro de asignaturas</ion-card-title>
      <div class="names">
        <ion-card-subtitle> <strong>Asignatura:</strong>  Programacion de aplicaciones moviles</ion-card-subtitle>
        <ion-card-subtitle> <strong>Seccion:</strong>  01</ion-card-subtitle>
          <img src="assets/images/qrtest.png" alt="qrcodetemporal">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
